


/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------*/


body {
    font-family: "Lato";
    margin: 0;
    overflow-x: hidden;
}

/*  MENU FLOTANT------------------------------------------------------------------------------------------------------------------------*/

.hamburger-line{
    display: none;
}

.menu-hide{
    display: flex;
    justify-content: space-between;
    position:fixed;
    z-index: 1;
    top: -200px;
    overflow:hidden;
    transition-property: all;
    transition-duration: 500ms;
    width: 100%;
}

.menu-visible{
    display: flex;
    justify-content: space-between;
    transition-property: all;
    transition-duration: 500ms;
    position: fixed;
    width: 100%;
    top: 0px;
}

/*  HEADER------------------------------------------------------------------------------------------------------------------------------*/
.fixedTop {
    position: fixed;
    width: 100%;
}

.menu {
    background-color: #1e4264;
}

#menu-main{
    display: flex;
    justify-content: space-between;
}

.logo-header{
    flex:1;
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 100px;
    margin: 10px 0 10px 50px;
}

.logo-header:hover{
    animation: rotateAnim 700ms linear;
    border-color: #f2b602;
}

.nav-menu-main{
    flex:4;
}

.menu ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu ul li {
    list-style: none;
}

.nav-menu-main li{
    margin-right: 40px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav-menu-main a:hover {
    border-bottom: 3px solid #f2b602;
    color: #f2b602;
    padding-bottom: 10px;
}

.menu-social-header{
    flex:1;
    padding-left: 0;
}

.menu-social-header li {
    padding: 10px 10px 10px 10px;
    margin-right: 10px;
}

.menu-social-header li:hover {
    border-radius: 50px;
    background-color: rgba(6, 46, 83);
    padding: 10px;
}

.menu-social-header li a img {
    width: 25px;
    height: 25px;
}

@media all and (max-width: 1400px) {

}

@media all and (max-width: 1120px) {

    .logo-header{
        flex:1;
        width: 80px;
        height: 80px;
        border: 3px solid white;
        border-radius: 100px;
        margin: 10px 0 10px 50px;
    }

    .menu ul li a {
        font-size: 12px;
    }

    .menu-social-header li a img {
        width: 15px;
        height: 15px;
    }
}

@media all and (max-width: 860px) {

    .hamburger{
        position: fixed;
        z-index: 990;
        top: 10px;
        left: 14px;
    }

    .hamburger-line{
        width: 20px;
        height: 4px;
        margin-bottom: 5px;
        background-color: #444;
        display: block;
        transition: all 500ms;
    }
    

    #menu-hide{
        top: -400px;
        height: 250px;
        display: flex;
        flex-direction: column;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom: 4px solid white;
    }

    .menu ul {
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
    }

/*     .nav-menu-main {
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */

    #menu-hide ul li {
        margin: 0 0 10px 0;
    }

    #menu-hide ul li a {
        font-size: 14px;
        padding-bottom: 0px;
    }

    .nav-menu-main li a:hover {
        border-left: 2px solid white;
        border-bottom: none;
        padding-left: 5px;
    }

    .menu-social-header{
        height: 0;
        opacity: 0;
        margin: 0;
        padding: 0;
    }

    #menu-main {
        display: none;
    }

    .logo-header{
       display: none;
    }
}




/*  HOME------------------------------------------------------------------------------------------------------------------------------*/


#home {
    width: 100%;
    height: 705px;
    background-image: url('image/background-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-home{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

@keyframes rotateAnim {
    from {transform: rotateY(0);}
    to {transform: rotateY(360deg);}
}

.logo-home{
    width: 300px; 
    height: 300px;
    border: 4px white solid;
    border-radius: 200px;
    background-image: url('image/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-home:hover{
    animation: rotateAnim 700ms linear;
    border-color: #f2b602;
}

.button-cv{
    text-decoration: none;
    background-color: rgba(6, 46, 83, 0.9);
    color: white;
    border: 4px solid white;
    font-size: 20px;
    padding: 30px;
    transition: all 500ms;
}

.button-cv:hover{
    background-color: white;
    color: rgba(6, 46, 83, 0.9);
    border: 4px solid rgba(6, 46, 83, 0.9)
}

.description-home{
    display: flex;
    flex-direction: column;
}

.profil-picture{
    border-radius: 20px;
    height: 500px;
    margin-top: 5px;
    -webkit-filter: sepia(1);
    transition: margin-bottom 1s, -webkit-filter 1s;
}

.profil-picture:hover{
    margin-bottom: 140px;
    -webkit-filter: sepia(0);
}

.profil-picture:hover + .text-description-home{
    top: 550px;
    opacity: 1;
}

.text-description-home{
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 720px;
    background-color: rgba(6, 46, 83);
    width: 301px;
    font-size: 18px;
    opacity: 0;
    transition: all 1s;
    padding: 20px;
}

@media all and (max-width: 1120px) {
    
    .profil-picture{
        height: 400px;
    }

    .text-description-home{
        top: 720px;
        background-color: rgba(6, 46, 83);
        width: 232px;
        font-size: 18px;
        opacity: 0;
        transition: all 1s;
        padding: 20px;
    }

    .profil-picture:hover{
        margin-bottom: 160px;
    }

    .profil-picture:hover + .text-description-home{
        top: 515px;
        opacity: 1;
    }
}

@media all and (max-width: 860px) {
    #home {
        width: 100%;
        height: 800px;
        background-image: url('image/background-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    
    .title-home{
        margin-bottom: 0px;
    
    }
    
    .logo-home{
        
    }
    
    .button-cv{

    }
    
    .button-cv:hover{

    }
    
    .description-home{

    }
    
    .profil-picture{
        display: none;
        height: 400px;
        margin-top: 100px;
    }
    
    .profil-picture:hover{
        margin-bottom: 0px;
    }

    
    .text-description-home{
        display: none;
    }
}

@media all and (max-width: 450px) {

    #home{
        height: auto;
    }

    .title-home{
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .logo-home{
        width: 200px; 
        height: 200px;
        border: 4px white solid;
        border-radius: 200px;
    }

    .logo-home:hover{
        background-image: url('image/profil.jpg');
        background-size: 200px 200px;
    }

    .button-cv{
        border: 4px solid white;
        font-size: 16px;
        padding: 15px;
        transition: all 500ms;
    }
}


/*  SKILLS------------------------------------------------------------------------------------------------------------------------------*/


#skills{
    padding: 60px 0;
    text-align: center;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills h1 {
    width: 400px;
    color: rgba(6, 46, 83, 0.9);
    border-top: 4px solid rgba(6, 46, 83, 0.9);
    padding: 20px 0 60px 0;
}

.skills-container{

}

#skills-languages {
   display: flex;
   justify-content: center;
   line-height: 40px;
}


#skills-value-left{
    margin-right: 100px;
}

#skills-value-right{

}

.contain{
    width: 500px;
    height: 40px;
    background: #ddd;
    margin-bottom: 20px;
}

.value {
    background-color: rgba(6, 46, 83, 0.8);
    width: 0;
    color: #ddd;
}

.html {
    transition-duration: 1500ms;
    width: 70%;
    color: white;
}

.js {
    transition-duration: 1500ms;
    width: 50%;
    color: white;
}

.php {
    transition-duration: 1500ms;
    width: 40%;
    color: white;
}

.mysql {
    transition-duration: 1500ms;
    width: 40%;
    color: white;
}

.java {
    transition-duration: 1500ms;
    width: 30%;
    color: white;
}

.laravel {
    transition-duration: 1500ms;
    width: 20%;
    color: white;
}

.vue {
    transition-duration: 1500ms;
    width: 20%;
    color: white;
}

.wordpress {
    transition-duration: 1500ms;
    width: 30%;
    color: white;
}

@media all and (max-width: 1140px) {


    .contain{
        width: 400px;
    }

    .value{
        font-size: 14px;
    }
    
}

@media all and (max-width: 920px) {


    .contain{
        width: 300px;
    }

    .value{
        font-size: 12px;
    }
    
}

@media all and (max-width: 760px) {

    #skills h1 {
        width: 100%;
        font-size: 20px;
    }

    .contain{
        width: 300px;
    }

    #skills-languages{
        flex-direction: column;
    }

    .skills-container{
       display: flex;
       justify-content: center;
    }

    #skills-value-left{
        margin-right: 0px;
    }
}

/*  EXPERIENCES------------------------------------------------------------------------------------------------------------------------------*/


#experiences{
    background-color: rgba(6, 46, 83, 0.8);
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#experiences h1 {
    width: 400px;;
    text-align: center;
    color: #f2b602;
    border-top: 4px solid #f2b602;
    padding: 20px 0 60px 0;
}

#contain-badge{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badge{
    width: 400px;
    height: 300px;
    border: 1px solid #444;
    background-color: white;
    padding: 20px;
    margin-bottom: 50px;
    transition: margin-left 2s, opacity 2s;
}

.badge:hover{

}

#badge1{
    margin-left: -1400px;
    opacity: 0;
}

.badge-heading{

}

.badge-description{

}

#badge1:hover{
    background-image: url('image/dso.png');
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-position-x: 140px;
    background-position-y: 100px;
}

#badge1:hover .badge-heading{
    opacity: 0;
}

#badge1:hover .badge-description{
    opacity: 0;
}

#badge2{
    margin-left: 1400px;
    opacity: 0;

}

#badge2:hover{
    background-image: url('image/youtrust.png');
    background-repeat: no-repeat;
    background-size: 300px 100px;
    background-position-x: 70px;
    background-position-y: 120px;
}

#badge2:hover .badge-heading{
    opacity: 0;
}

#badge2:hover .badge-description{
    opacity: 0;
}

.badge-heading h3, .badge-description p {
    color: #444;
}

.badge-heading h4 {
    color: rgba(6, 46, 83, 0.8);
}

.badge-heading p {
    color: gray;
    font-size: 14px;
}

@media all and (max-width: 1280px) {


}

@media all and (max-width: 560px) {
    #experiences h1 {
        width: 100%;
        font-size: 20px;
    }

    .badge{
        width: 280px;
        height: 250px;
        border: 1px solid #444;
        background-color: white;
        padding: 10px;
        margin-bottom: 50px;
    }

    #badge1:hover{
        background-image: none;
    }

    #badge1:hover .badge-heading{
        opacity: 1;
    }
    
    #badge1:hover .badge-description{
        opacity: 1;
    }

    #badge2{
        margin-left: -1400px;
    }
    
    #badge2:hover{
        background-image: none;
    }

    #badge2:hover .badge-heading{
        opacity: 1;
    }
    
    #badge2:hover .badge-description{
        opacity: 1;
    }
    

    #badge1::after{
        display: block;
        content:"";
        background-image: url('image/dso.png');
        background-size: 70px 70px;
        width: 70px;
        height: 70px;
        position: relative;
        top: -230px;
        left: 200px;
    }

    #badge2::after{
        display: block;
        content:"";
        background-image: url('image/youtrust.png');
        background-size: 70px 25px;
        background-repeat: no-repeat;
        width: 70px;
        height: 25px;
        position: relative;
        top: -200px;
        left: 200px;
    }

    .badge p {
        font-size: 12px;
    }
}


/*  FORMATION-------------------------------------------------------------------------------------------------------------------------*/

#formation {
    height: 800px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding-top: 60px;
    align-items: center;
}

#formation h1 {
    width: 400px;
    color: rgba(6, 46, 83, 0.9);;
    border-top: 4px solid rgba(6, 46, 83, 0.8);
    padding: 20px 0 60px 0;
    text-align: center;
}

#container-formation {
    width: 1200px;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.container-snd-formation {
    width: 1200px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

#container-formation-1 {
    margin-top: 100px;  
    opacity: 0;
    transition: all 1s;
}

#container-formation-2 {
    margin-top: 100px;
    opacity: 0;
    transition: all 1s;
}

.badge-formation {
    width: 320px;
    height: 150px;
    overflow: hidden;
    border: 2px solid rgba(6, 46, 83, 0.8);
    background-color: #ddd;
    padding: 10px;
    text-align: center;
    transition: all 500ms;
}

.badge-formation:hover{
    height: 250px;
}

.badge-formation-heading {
    color: rgba(6, 46, 83, 0.8);
    border-bottom: 2px solid rgba(6, 46, 83, 0.8); 
}

.badge-formation-description{
}

.badge-formation-heading h3 {
}

@media all and (max-width: 1160px) {

    #formation {
        height: 800px;
        margin-bottom: 50px;
    }

    #formation h1 {
        padding: 20px 0 0 0;
        margin: 60px 0 80px 0;
        text-align: center;
    }
    
    #container-formation {
        width: 800px;
        height: 600px;
        display: flex;
        flex-direction: row;
    }
    
    .container-snd-formation {
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .badge-formation{
        margin-bottom: 20px;
    }
}

@media all and (max-width: 860px) {

    #formation h1 {
        width: 100%;
        font-size: 20px;
    }

    #formation {
        height: 1800px;
        margin-bottom: 50px;
    }

    #container-formation {
        width: 100%;
        height: 1800px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-snd-formation {
        width: 100%;
        margin-bottom: 0px;
        height: 1000px;
    }

    #container-formation-1 {
        height: 900px;
        margin-top: 0px;  
        opacity: 0;
        transition: all 1s;
    }
    
    #container-formation-2 {
        height: 900px;
        margin-top: 0px;
        opacity: 0;
        transition: all 1s;
    }

    .badge-formation{
        width: 250px;
        height: 220px;
    }

    #badge-formation-cefim{
        height: 300px;
    }
}


/*  PORTFOLIO-----------------------------------------------------------------------------------------------------------------------------------*/


#portfolio{
    background-color: rgba(6, 46, 83, 0.8);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portfolio h1 {
    width: 400px;
    color: #f2b602;
    border-top: 4px solid #f2b602;
    padding: 20px 0 0 0;
    text-align: center;
    margin-bottom: 60px;
}

#container-portfolio{
    margin-left: 3190px;
    width: 4000px;
    display: flex;
    flex-direction: row;
    transition: margin-left 1s;
}

.container{
    margin-right: 100px;
}

.badge-project-link {
    text-decoration: none;
    color: #444;
}

.badge-project {
    padding: 20px 0;
    background-color: rgba(68, 68, 68, 0.5);
    border: 5px solid white;
    width: 800px;
    text-align: center;
    color: white;
}

.badge-project:hover {
    padding: 20px 0;
    background-color: rgba(6, 46, 83, 0.2);
    border: 5px solid #f2b602;
    text-align: center;
}

.badge-project:hover h3{
    color: #f2b602;
}


.badge-project img {
    border: 4px solid white;
    width: 400px;
    height: 300px;
}

.badge-project:hover img {
}

.button-switch{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.button{
    background-color: white;
    color: #444;
    border-radius: 50px;
    padding: 8px 16px;
    font-size: 30px;

    cursor: pointer;
}

.button:hover{
    background-color: #1e4264;
    color: white;
}

.button-left{

}

.button-right{

}

@media all and (max-width: 1160px) {

    #portfolio h1 {
        padding-top: 20px;
        text-align: center;
    }
}

@media all and (max-width: 840px) {

    #portfolio{
        margin-top: 200px;
    }

    #container-portfolio{
        margin-left: 280px;
        width: 1000px;
    }

    .badge-project{
        width: 300px;
        margin-bottom: 20px;
    }

    .badge-project img {
        width: 200px;
        height: 100px;
    }
}

@media all and (max-width: 720px) {
    #portfolio{
        margin-top: 200px;
    }

    #portfolio h1 {
        width: 100%;
        font-size: 20px;
    }

    #container-portfolio{
        margin-left: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: none;
    }

    .badge-project{
        width: 270px;
        margin-bottom: 20px;
    }

    .container{
        margin-right: 0px;
    }

    #container-1{
        display: inherit;
    }

    #container-2{
        display: none;
    }

    #container-3{
        display: none;
    }

    #container-4{
        display: none;
    }
}

/*  CONTACT-----------------------------------------------------------------------------------------------------------------------------------*/

/* #contact{
    background-color: white;
    padding-top: 60px;
}

#contact h1 {
    color: rgba(6, 46, 83, 0.9);;
    border-top: 4px solid rgba(6, 46, 83, 0.9);;
    padding: 20px 0 0 0;
    margin: 0px 500px 60px 500px;
    text-align: center;
}

#form-center{
    display: flex;
    justify-content: center;
}

#contact form {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 0 0 100px 0;
}

#contact form label {
    color: rgba(6, 46, 83, 0.9);;
}

#contact form input[type="text"] {
    height: 30px;
    margin-bottom: 20px;
}

#contact form input[type="submit"] {
    height: 50px;
    width: 200px;
    margin-top: 20px;
    font-size: 20px
}

#submit-center{
    display: flex;
    justify-content: center;
}

@media all and (max-width: 1160px) {
    
    #contact h1 {
        color: white;
        border-top: none;
        padding: 20px 0 0 0;
        margin: 0px 0px 60px 0px;
        text-align: center;
    }
}

@media all and (max-width: 650px) {
    #contact form {
        width: 250px;
        display: flex;
        flex-direction: column;
        padding: 0 0 100px 0;
    }

    #contact form input[type="submit"] {
        height: 40px;
        width: 80px;
        margin-top: 20px;
        font-size: 16px
    }
} */

/*  FOOTER-----------------------------------------------------------------------------------------------------------------------------------*/


footer {
    height: 100px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer nav ul {
    margin :0;
    list-style: none;
    display: flex;
}

footer nav ul li a {
    margin :0;
    text-decoration: none;
}


.menu-footer{
    flex: 3;
}

.menu-footer ul {
    justify-content: space-around;
    line-height: 150%;
}

.menu-footer ul li a {
    color: white;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 250ms;
}

.menu-footer ul li a:hover {
    background-color: rgba(6, 46, 83);
    border-radius: 10px;
    padding: 10px;
}

.menu-social-footer{
    flex: 2;
    margin-top: 10px;
}

.menu-social-footer ul {
    justify-content: center;
}

.menu-social-footer ul li {
    margin-right: 10px;
    padding: 10px;
}

.menu-social-footer li:hover {
    border-radius: 50px;
    background-color: rgba(6, 46, 83);
    padding: 10px;
}

.menu-social-footer img {
    width: 25px;
    height: 25px;
}

@media all and (max-width: 820px) {

    .menu-footer{
        display: none;
    }

    .menu-social-footer ul {
        padding-left: 0px;
        margin-left: 0px;
    }
}